.container{
    display: flex;
    flex-direction: column;
    
    .row{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        >div{
            flex: 4;
        }
    }
}